<div class="container-fluid">
    <mat-card>
        <mat-card-title>
            <img src="../../assets/Boiler_India.png">
            <!-- <h2>Sign In with one time password (OTP)</h2> -->
        </mat-card-title>
        <mat-card-title>
            <!-- <img src="../../assets/Boiler_India.png" > -->
            <h2>Reset Password</h2>
        </mat-card-title>

        <!-- <section class="example-section">

            <mat-radio-group aria-label="Select an option" [(ngModel)]="selection">
                <mat-radio-button class="example-margin" value="mobile">Mobile Number</mat-radio-button>
                <mat-radio-button class="example-margin" value="email">Email Address</mat-radio-button>
            </mat-radio-group>
        </section> -->


        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="reset()">
                <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input [type]="type" matInput placeholder="Password" formControlName="password" required>
                        <mat-icon (click)="toggle('password')" *ngIf="icon == 'hide'" matSuffix>vpn_key</mat-icon>
                        <mat-icon (click)="toggle('password')" *ngIf="icon == 'show'" matSuffix>remove_red_eye</mat-icon>
                        <mat-error *ngIf="form.controls['password']?.hasError('required')">Please provide a
                            Password
                        </mat-error>
                        <mat-error *ngIf="password?.errors?.minlength">Password must be min 8 char.
                        </mat-error>
                        <mat-error *ngIf="form.controls['password']?.hasError('hasNumber')">
                            Password must include a Number
                        </mat-error>
                        <mat-error *ngIf="form.controls['password']?.hasError('hasCapitalCase')">
                            Password must include a Uppercase
                        </mat-error>
                        <mat-error *ngIf="form.controls['password']?.hasError('hasSmallCase')">
                            Password must include a Lower case
                        </mat-error>
                        <mat-error *ngIf="form.controls['password']?.hasError('hasSpecialCharacters')">
                            Password must include a special character
                        </mat-error>
                    </mat-form-field>
                </p>
                <p class="mt-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <input [type]="ctype" matInput placeholder="Password" formControlName="cpassword" required>
                        <mat-icon (click)="toggle('cpassword')" *ngIf="cicon == 'hide'" matSuffix>vpn_key</mat-icon>
                        <mat-icon (click)="toggle('cpassword')" *ngIf="cicon == 'show'" matSuffix>remove_red_eye</mat-icon>
                        <mat-error *ngIf="form.controls['cpassword']?.hasError('required')">Please provide a
                            Confirm Password
                        </mat-error>
                        <mat-error *ngIf="form.controls['cpassword']?.hasError('notEqualToPassword')">Password does
                            not match
                        </mat-error>
                    </mat-form-field>
                </p>

                <button [disabled]="loading" [disabled]="disabled" mat-raised-button color="primary">Reset</button>

                <p *ngIf="error && error.length > 0" class="error">
                    {{ error }}
                </p>

                <!-- <div class="button">
                    <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid || loading">
                        <span *ngIf="!loading">Login</span>
                        <span *ngIf="loading">
                            Logging In...
                        </span>
                    </button>
                </div> -->

            </form>
        </mat-card-content>
    </mat-card>



</div>