// .otp-content{
//     position: fixed;
//     overflow: hidden;
//     top:0;
//     left:0;
//     right:0;
//     bottom:0;
//     height: 100%;
//     width: 100%;
//     margin: auto;
//     display: flex;
//     z-index: 10000;
//     justify-content: center;
//     align-items: center;
//     background: rgba(0,0,0,0.7);
//   }

  .otp-number-modal{
    position: absolute;
}



.error{
  border: 2px solid red;
  background-color: red;
}
