<h1 mat-dialog-title class="text-center">
    {{ status }}
</h1>
<div mat-dialog-content>
    {{ data | json }}
    {{ data | json }}
    {{ data | json }}
    {{ data | json }}
    {{ data | json }}
    {{ data | json }}
    {{ data | json }}
    {{ data | json }}
    {{ data | json }}
    {{ data | json }}
    {{ data | json }}
    {{ data | json }}
    {{ data | json }}
    {{ data | json }}
    {{ data | json }}
    {{ data | json }}
    {{ data | json }}
    {{ data | json }}
    {{ data | json }}
    {{ data | json }}
    {{ data | json }}
    {{ data | json }}
    {{ data | json }}
    {{ data | json }}
    {{ data | json }}
    {{ data | json }}
    {{ data | json }}
    {{ data | json }}
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close cdkFocusInitial>CLose</button>
</div>