<div>
    <div class="mt-5 text-center">
        BOILER WORLD EXPO - NAIROBI, AFRICA 2023 Exhibitor Registration
    </div>

    <div class="container-flued">
        <div class="row">
            <div class="col-md-6 col-lg-12 ">
                <img src="../../../assets/Images/boiler-register-conf-hdr.png" alt="" width="100%">
            </div>
        </div>
    </div>
    <div class="container-flued text-center">
        <h1>EXHIBITOR REGISTRATION</h1>

        <img src="../../../assets/Images/checked.png" style="width:60px; height:50px;" alt="">

        <h2 style="color: green;">Thank you! Registration successful</h2>
        <h4>You will receive registration confirmation email shortly.</h4>
        <h4 style="padding: 30px;"><strong>Our sales representative will reach out shortly for stall/booth
                booking</strong>
        </h4>

        <h4><strong>In case you’ve already booked a stall/booth, an ONLINE EXHIBITOR MANUAL will be shared with
                you</strong>
        </h4>
        <h4><strong>8-10 weeks prior to the expo for collecting power, badge and other onsite requirements, kindly keep
                in
                touch!</strong></h4>
    </div>
    <div style="background-image: url(../../../assets/Images/boiler-register-conf-bg.png);">
        <div class="text-center">
            <h2 style="color: red;">EVENT RELATED GENERAL GUIDELINES OR ADVISORY FOR EXHIBITORS</h2>
        </div>
        <div style="padding-left: 20%;">
            <h4><b>GENERAL GUIDELINES:</b></h4>
            <ul>
                <li>
                    <p>These general Terms & Conditions form an inseparable part of BOILER WORLD EXPO - NAIROBI, AFRICA
                        2023
                        and
                        apply to all participating exhibitors</p>
                </li>
                <li>
                    <p>Exhibitors shall to the extent appropriate, observe and comply with the Terms & Conditions of the
                        exhibition</p>
                </li>
                <li>
                    <p>Individuals below the age of 18 will not be allowed at the exhibition.</p>
                </li>
                <li>
                    <p>This pass admits only one person and is valid for all three days.</p>
                </li>
                <li>
                    <p>Bottles, cans or tins are not allowed inside the exhibition venue.</p>
                </li>
                <li>
                    <p>The organiser does not take any responsibility for your personal belongings.</p>
                </li>
                <li>
                    <p>The consumption of banned substances is strictly prohibited in the exhibition venue.</p>
                </li>
                <li>
                    <p>Exhibitors may be subjected to security checks at some point, your cooperation is solicited.</p>
                </li>
                <li>
                    <p>Organiser holds the right to ask any visitor to leave the venue for security reasons or for
                        anti-social
                        behaviour</p>
                </li>
                <li>
                    <p>Organiser holds the right to restrict the entry of any visitor to any of the key areas.
                        Organiser’s
                        decision will be final</p>
                </li>
                <li>
                    <p>Exhibition timing is 8.00 a.m. to 4.00 p.m. EAT on 10th and 11th August and 8.00 a.m. to 3.00
                        p.m.
                        EAT,
                        on 12th August.</p>
                </li>
                <li>
                    <p>For first aid and other emergencies, kindly contact the registration desk.</p>
                </li>
                <li>
                    <p>Smoking inside the exhibition premises is prohibited.</p>
                </li>
                <li>
                    <p>The event is subjected to force majeure conditions.</p>
                </li>
            </ul>
        </div>

        <p style="padding-top: 130px; padding-left: 30px;"><a href="../../../assets/pdf/terms-and-conditions.pdf" target="_blank" >Privacy Policy | Terms & Conditions</a></p>

    </div>
    <div class="container-flued"
        style="background-color: green; color: white; padding-bottom: 15px; padding-top: 10px;">
        <div class="row">
            <div class="col-md-5">
                <h1 style="padding-top: 70px; padding-left: 15px;">nairobi.boilerworldexpo.com</h1>
            </div>
            <div class="col-md-6" style="text-align: right;padding-top: 20px; ">
                <h3><b>Contact :</b></h3>
                <h4>Mr. Anosh Piarejee | anosh@orangebeak.com | +91 84463 02245</h4>
                <h4>Ms. Shraddha Kalamkar | shraddha@orangebeak.com | +91 99870 26115</h4>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>